@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
}

@layer base {
  :root {
    --background: 220 100% 98%;
    --foreground: 222 100% 8%;

    --card: 220 30% 96%;
    --card-foreground: 222 100% 8%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 100% 8%;

    --primary: 220 100% 8%;
    --primary-foreground: 210 40% 98%;

    --secondary: 206 40% 75%;
    --secondary-foreground: 222 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 206 60% 89%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217 70% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 30% 10%;
    --foreground: 210 40% 98%;

    --card: 222 30% 8%;
    --card-foreground: 210 40% 98%;

    --popover: 222 30% 8%;
    --popover-foreground: 210 40% 98%;

    --primary: 217 70% 40%;
    --primary-foreground: 210 40% 98%;

    --secondary: 206 40% 75%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 206 60% 89%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217 70% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
